.top-bar {
	height: 									65px !important;
	background: 								none !important;
	border-bottom: 								2px solid $silver;
	padding-top: 								10px;

	.title-area {
		width: 									205px;
		height: 								55px;
		background: 							url('../images/logo_navFixedTop.png') center 10px no-repeat;
		border-bottom: 							4px solid $boderRed;
	}

	.top-bar-section {
		ul {
			background: 						none;

			li {
				
				a {
					font-family: 				geogrotesque_lglight;
					font-size: 					1em;
					color: 						$text;
					background: 				none !important;
					line-height: 				53px;
					text-transform: 			uppercase;

					&:hover {
						border-bottom: 			2px solid $boderRed;
						color: 					$text;
					}
				}

				&.active {

					a {
						background: 			none !important;
						color: 					$red
					}
				}
			}
		}
	}
}