.container_services {
	width: 						100%;
	height: 					100%;
	background: 				$gray;
	position: 					relative;

	#rhombus_services {
		width: 					100%;
		height: 				323px;
		background: 			url('../images/bg2_services.png') center no-repeat;
		position: 				absolute;
		top: 					calc(50% - 138px);
		z-index: 				11;
	}
	#bg_line_services {
		width: 					100%;
		height: 				262px;
		background: 			url('../images/bg_linhas_services.png') center no-repeat;
		position: 				absolute;
		top: 					calc(50% - 131px);
		z-index: 				12;
	}
}