// Cores padrão do layout da Four.
$red : #b12121;
$boderRed : #bd2128;
$gray : #dddddd;
$silver : #c1c1c1;
$text : #6a6a6a;
$white : #ffffff;

// Tamanho dos titulos e paragrafos do site.
$h2 : 2.3em;
$h3 : 1.6em;
$size_text : .8em;

// Fontes usada no site.
$geo_regular : 'geogrotesque_rgregular';
$geo_semibold : 'geogrotesque_smbdsemibold';
$geo_thin : 'geogrotesque_ththin';
$geo_bold : 'geogrotesque_bdbold';
$geo_light : 'geogrotesque_lglight';
$geo_medium : 'geogrotesque_mdmedium';